@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
}

<!-- Header -->
<!-- /Header -->
<div id="features-wrapper">
	<section id="features" class="container">
		<h2>Welcome</h2>
		<hr class="star-primary">
		
		@Model.Content.GetPropertyValue("bodyText")
			
		<div id="slideshow">
                <ul>
                    @{
                        var nodeIds = Model.Content.GetPropertyValue("slideshow").ToString().Split(',');
                        List<IPublishedContent> slides = new List<IPublishedContent>();

                        foreach (var nodeId in nodeIds)
                        {
                            if (!String.IsNullOrEmpty(nodeId))
                            {
                                var publishedContent = Umbraco.NiceUrl(Convert.ToInt32(nodeId));
                                if (!String.IsNullOrEmpty(publishedContent) && publishedContent != "#")
                                {
                                    slides.Add(Umbraco.TypedContent(nodeId));
                                }
                            }
                        }
                    }

                    @foreach (var slide in slides)
                    {
                        if (slide != null)
                        {
                            string styleString = !slide.IsFirst() ? "display:none;" : "";
                            <li class="rotating-panel fc" style="@styleString">
							@*<img class="img-responsive img-thumbnail fl" alt="@slide.Name" src="@slide.GetPropertyValue("mainImage")" />*@
								<img class="img-responsive img-thumbnail fl" alt="@slide.Name" src="@slide.GetPropertyValue("mainImage")" />
                                <div class="">
                                    @Html.Raw(slide.GetPropertyValue("bodyText"))
                                </div>
                            </li>
                        }
                    }
                </ul>
                <ul id="slidePager" class="hidden-xs">
                    @foreach (var slide in slides)
                    {
                        string classString = slide.IsFirst() ? "selected" : "";
                        <li>
                            <a href="?position={position()}" class="@classString">
                                @slide.Position()
                            </a>
                        </li>
                    }
                </ul>
            </div>
	</section>
</div>