@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
	var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>@pageTitle</h2>
				<hr class="star-primary">
			</div>
		</div>
	<div class="row">
		<div class="col-lg-12 text-center">
			@Model.Content.GetPropertyValue("mainContent")
        </div>
		@if (Model.Content.GetPropertyValue<bool>("tableItems"))
		{	
			<table class="table table-bordered">
				<thead>@Html.Raw(Model.Content.GetPropertyValue<string>("tableTitle"))</thead>
					<tbody>
						<tr>
							<td>@Model.Content.GetPropertyValue("TableItem1")</td>
							<td>@Model.Content.GetPropertyValue("TableItem2")</td>
							<td>@Model.Content.GetPropertyValue("TableItem3")</td>
						</tr>
					<tbody>
			</table>
		}
	</div>
</section>