@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "SW_Master.cshtml";
	 var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}

<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			@*if(Model.Content.GetPropertyValue<bool>("listItems"))*@
			
				<div id="sidebar" class="4u 12u(mobile)">
					@Html.Partial("ContentPanels", @Model.Content)
				</div>
			
			<div id="content" class="8u 12u(mobile) important(mobile)">
				<article class="box post">
					<header>
						<h2>@pageTitle <strong></strong></h2>
					</header>
						<hr class="star-primary">
						@Html.Raw(Model.Content.GetPropertyValue<string>("bodyText"))
							
						@Html.Partial("FeaturesList", @Model.Content)
				</article>
			</div>
		</div>

	</div>
</div>