@inherits Umbraco.Web.Mvc.UmbracoViewPage<Elm_Lodge_Kennels.Models.ContactFormModel>
@{
    Layout = null;
}
@using (Html.BeginUmbracoForm("SendEmail", "ContactSurface", null, new { id ="formContact", @class = "form-horizontal"}))
{
@*<form action="/umbraco/surface/ContactSurface/SendEmail" enctype="multipart/form-data" id="formContact" method="post" novalidate="novalidate">*@
    <div class="row 50%">
        <div class="6u 12u(mobile)">
            <input name="name" placeholder="Name" type="text">
        </div>
        <div class="6u 12u(mobile)">
            <input name="email" placeholder="Email" type="text">
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <textarea name="comment" placeholder="Comment"></textarea>
        </div>
    </div>
    <div class="row 50%">
        <div class="12u">
            <button type="submit" class="form-button-submit button icon fa-envelope">Send Message</button>
            @*<a href="#" class="form-button-submit button icon fa-envelope">Send Message</a>*@
        </div>
    </div>
}
@*</form>*@
<script>
    $(function () {
        $('form#formContact').validate({
            submitHandler: function (form) {
                form.submit();
            },
            errorClass: 'error-msg',
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            highlight: function (element, errorClass) {
                $(element).parent('.inp-wrap').addClass("error");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parent('.inp-wrap').removeClass("error");
            },
            rules: {
                name: { required: true },
                email: { required: true, email: true },
                //Phone: { required: true, PhoneNumber: true },
                comment: { required: true, maxlength: 500 }
            },
            messages: {
                name: { required: 'Please enter your name' },
                email: { required: 'Please enter an email address', email: 'Please enter a valid email address' },
                //Phone: { required: 'Please enter a phone number' },
                comment: { required: 'Please enter a message', maxlength: 'The message you have entered is too long.' }
            }
        });
    });
</script>
@*<div class="">
        @using (Html.BeginUmbracoForm("SendEmail", "ContactFormSurface",new { @class = "form-horizontal" }))
        {
            <div class="form-horizontal">
                <fieldset>
                    <legend>Contact Form</legend>
                    <div class="form-group">
                        @Html.LabelFor(x => Model.Name, new { @class="col-lg-2 control-label"})
                        <div class="col-lg-10">
                            @Html.EditorFor(x => Model.Name)
                            @Html.TextBoxFor(x => Model.Name, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => Model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => Model.Email, new { @class="col-lg-2 control-label"})
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => Model.Email, new { @class="form-control"})
                            @Html.ValidationMessageFor(x => Model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => Model.Comment, new { @class="col-lg-2 control-label"})
                        <div class="col-lg-10">
                            @Html.TextAreaFor(x => Model.Comment, 5, 10, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => Model.Comment)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-success btn-lg">Send a message!</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        }
    </div>*@