@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@if (Model.Content.GetPropertyValue<bool>("listItems"))
{	
	<h3>@CurrentPage.ListTitle</h3>
		<ul class="divided">
			@RenderItemIfNotEmpty(CurrentPage.ListItem1, CurrentPage.GetPropertyValue<string>("ListItem1"))
			@RenderItemIfNotEmpty(CurrentPage.ListItem2, CurrentPage.GetPropertyValue<string>("ListItem2"))
			@RenderItemIfNotEmpty(CurrentPage.ListItem3, CurrentPage.GetPropertyValue<string>("ListItem3"))
			@RenderItemIfNotEmpty(CurrentPage.ListItem4, CurrentPage.GetPropertyValue<string>("ListItem4"))
			@RenderItemIfNotEmpty(CurrentPage.ListItem5, CurrentPage.GetPropertyValue<string>("ListItem5"))
		</ul>
	
}

@helper RenderItemIfNotEmpty(dynamic item, string itemName)
{
    // A helper function is handy when you have to do the same thing over and over again
    // So now we only have to write the "if" check and list item once, and we only need
    // to put in the things that can vary
    
    if (string.IsNullOrEmpty(item) == false)
    {
        <li>@itemName</li>
    }
}