@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

	var homePage = Model.Content.AncestorOrSelf(1);
}
	
<div id="footer-wrapper">
	<div id="footer" class="container">
						
		<div class="row">				
			<div class="6u 12u(mobile)">
				<section>
					<div class="row">
						<div class="6u 12u(mobile)">
							<ul class="icons">
								<li class="icon fa-home">
									@homePage.GetPropertyValue("address")
								</li>
								<li class="icon fa-phone">
									@homePage.GetPropertyValue("telephone")
								</li>
								<li class="icon fa-envelope">
									@homePage.GetPropertyValue("email")
								</li>
							</ul>
						</div>
						<div class="6u 12u(mobile)">
							<ul class="icons">
								@Html.Partial("Affiliations",homePage)
							</ul>
						</div>
					</div>
				</section>
							</div>
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; @DateTime.Now.Year @Umbraco.Field("copyright", recursive: true)</li>
						</ul>
					</div>
				</div>